// Import Zen Grids.
@import "zen";

$zen-column-count: 10;
$zen-gutter-width: 2%;
$zen-auto-include-item-base: false;
$zen-box-sizing: content-box;

.zen-grids {
  // Apply the mixin to the container.
  @include zen-grid-container;

  // Apply common styles to all grid items.
  .width1, .width2 {
    @include zen-grid-item-base;
  }

  .width1 div {
    background-color: #8ca9db;
  }

  .r1c1 {
    @include zen-grid-item(1, 1);
  }
  .r1c2 {
    @include zen-grid-item(1, 2);
  }
  .r1c3 {
    @include zen-grid-item(1, 3);
  }
  .r1c4 {
    @include zen-grid-item(1, 4);
  }
  .r1c5 {
    @include zen-grid-item(1, 5);
  }
  .r1c6 {
    @include zen-grid-item(1, 6);
  }
  .r1c7 {
    @include zen-grid-item(1, 7);
  }
  .r1c8 {
    @include zen-grid-item(1, 8);
  }
  .r1c9 {
    @include zen-grid-item(1, 9);
  }
  .r1c10 {
    @include zen-grid-item(1, 10);
  }

  .width2 div {
    background-color: #e5c5e5;
  }

  .r2c1 {
    @include zen-grid-item(2, 1);
  }
  .r2c2 {
    @include zen-grid-item(2, 3);
  }
  .r2c3 {
    @include zen-grid-item(2, 5);
  }
  .r2c4 {
    @include zen-grid-item(2, 7);
  }
  .r2c5 {
    @include zen-grid-item(2, 9);
  }
}
